@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.homepage{
    background-color: black;
    margin: 0;
    overflow-y: scroll;
}

.vertical-menu{
    width: 200px;
    height: 100%;
    margin-right: 25%;
    margin-top: 20%;
    float: right;
}
.vertical-menu a:link{
    display: block;
    text-decoration: none;
    color:#c4c4c4;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    padding: 16px;
}
.intro{
    height: 100vh;
    background-image: url(images/hp-texture.png);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
}
.intro-style{
    max-width: 50%;
    height: auto;
    position: relative;
    top: 200px;
    left: 200px
}

.history{
    height: 100vh;
    background-image: url(images/hp-texture.png);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
}

.center{
    font-family:'PT Serif', serif;
    color:#c4c4c4;
    margin: 0;
    padding-right: 380px;
    padding-left: 380px;
    padding-top: 80px;
    font-size: 22px;
    line-height: 28px;

}
.history-style{
    max-width: 50%;
    height: auto;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.war-bg{
    background-color: black;
    background-image: url(images/fire-and-smoke.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
}

.pollution-bg{
    background-color: white;
    background-image: url(images/black-sludge.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
}

.smoke-overlay{
    width: 70vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.sparks{
    width: 100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.right-character{
    width: 90vw;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right-title{
    width: 90vw;
    position: absolute;
    bottom: 0;
    right: 0;
}
